/*
|--------------------------------------------------------------------------
| Button
|--------------------------------------------------------------------------
*/

.btn {
	border-radius: 15px;
	position: relative;
	height: 30px;
	width: 30px;
}