/*
|--------------------------------------------------------------------------
| Button
|--------------------------------------------------------------------------
*/

.btn {
	border-radius: 15px;
	position: relative;
	height: 30px;
	width: 30px;
}

input[type=checkbox] {
	appearance: none;
	width: 16px;
	height: 16px;
	border: 1px solid $color2;
	border-radius: 25px;
	position: relative;

	&:checked {
		border: 0;
		
		&::after {
			transform: translateY(-50%) translateX(-50%) scale(3);
			opacity: 0;
		}
	}

	&::after {
		content: '';
		width: 16px;
		height: 16px;
		border: 1px solid $color1;
		border-radius: 25px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%) scale(1.0);
		transition: all .2s ease;
		opacity: 1;
		transform-origin: center;

	}
}

.list-button {
	appearance: none;
	background-color: var(--background-color-default);
	position: relative;
	

	&::before,
	&::after {
		background-color: white;
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		height: 2px;
		width: 10px;
	}

	&::after { transform: translateY(-50%) translateX(-50%) rotate(90deg); }
}