/*
|--------------------------------------------------------------------------
| MAIN
|--------------------------------------------------------------------------
*/


.list {
	background-color: white;
	border-radius: 10px;
	padding: 20px 40px;

	// Header List Style

	&__header {
		margin-bottom: 40px;

		.list-title {
			align-items: center;
			color: var(--color-text-default);
			display: flex;
			justify-content: space-between;
			font-weight: bold;
			font-size: 18px;
			margin-bottom: 10px;
		}

		.list-tasks {
			color: var(--color-text-orange);
			font-size: 12px;
			font-weight: bold;
		}
	}

	// Body List Style

	&__body {

		.list-item {
			align-items: center;
			display: flex;
			margin-bottom: 40px;
			position: relative;

			.checkmark {
				position: absolute;
				pointer-events: none;
				display: none;
			}
		}

		input[type=checkbox] {
			margin-right: 20px;
		}

		.list-item__content {
			align-items: center;
			display: flex;
			justify-content: space-between;
			width: 100%;
			position: relative;

			&::after {
				content: '';
				background-color: $color3;
				position: absolute;
				bottom: -20px;
				height: 2px;
				width: 100%;
			}
		}
	}
}