/*
|--------------------------------------------------------------------------
| Global
|--------------------------------------------------------------------------
*/

body {
	background-color: var(--background-color-default);
	position: relative;
}

small { text-transform: lowercase; }

.limit {
	max-width: $site-width;
	margin: auto;
	padding: 0 30px;
	@media #{$to-desk} {
		padding: 0;
	}
}
