/*
|--------------------------------------------------------------------------
| VARIABLES
|--------------------------------------------------------------------------
*/

// Media Queries
$to-smb: "only screen and (max-width: 320px)";
$to-mb: "only screen and (max-width: 767px)";
$from-lmb: "only screen and (min-width: 540px)";
$from-ptb: "only screen and (min-width: 767px)";
$from-ltb: "only screen and (min-width: 1023px)";
$to-desk: "only screen and (min-width: 1200px)";

// Width, Heights
$site-width: 860px;

// Colors
$color1: #D76A03;
$color2: #6D6D6D;
$color3: #E5E5E5;

$separator-bottom: 20px;

:root {
	--background-color-default: #{$color1};
	--color-text-default: #{$color2};
	--color-text-orange: #{$color1};
	--color-text-sublime: #{$color3};
}


// Fonts
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size: 100%;

